{% extends "layout.twig" %}

{% block title %} - Contact{% endblock %}

{% block content %}
<div class="row">
	<div class="large-2 columns">&nbsp;</div>
	<div class="large-4 columns">
		<img src="profile.png" />
	</div>
	<div class="large-4 columns">
	  <p>Blake Hutchinson raised in a small town in southern Ontario feel in love with filming at the age of ten.
	     Filming his friends biking around the skate park with his dad's sony camera.  
	     He knew from there on that his interest was being behind the camera.  During his teenage years he entered 
	     a high school just to specialize in film.  From there he went to Sheridan College for their film program 
	     (media arts.)  During the three-year course he was able to find his true craft in wanting to be a cinematographer. 
    </p>  
    <p>
       C: 905 -691 – 5560<br />
       E: <a href="mailto:blakeihutchinson@gmail.com">blakeihutchinson@gmail.com</a>
    </p> 
	</div>
	<div class="large-2 columns">&nbsp;</div>
</div>
{% endblock %}

